{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- banner -->
<div class="inside-banner">
  <div class="container">
    <span class="pull-right"><a href="#">Home</a> / About Us</span>
    <h2>About Us</h2>
</div>
</div>
<!-- banner -->


<div class="container">
<div class="spacer">
<div class="row">
  <div class="col-lg-8  col-lg-offset-2">
  <img src="{% static 'C:\Users\VIKAS NIGAM\PycharmProjects\Real_Estate_College_Project\Real_Estate\static\images\about.jpg' %}" class="img-responsive thumbnail"  alt="realestate">
  <h3> Background</h3>
    <p> <b>Vikas Nigam</b> And <b>Shankshank Singh</b> created this django based project of Real Estate Management System.</p>
    <p>We are with our college friends Abhijeet and Nitin.</p>
  <h3>For College Project</h3>
  <p>Python and django are really great to work with.</p>

  </div>

</div>
</div>
</div>


{% endblock %}